/* @file
 * This file is a custom file that loads all files. Each non-base layer
 * can be disabled.
 *
 * Do not name this file, "app.scss". If you run a compass update this file can
 * be wiped out with a compass update. By default, when a compass project is
 * created the file will be named app.scss. Thus this file is named,
 * THEMENAME.scss.
 *
 * This application file (THEMENAME.scss) is where all the partials are
 * imported.
 *
 * Theme styles are categorized using SMACSS standards. They utilize
 * categorization of styles into various categories. Those categories are the
 * following:
 *
 * - Base: CSS reset/normalize plus HTML element styling.
 * - Layout: Macro arrangement of a web page, including any grid systems.
 * - Component: Dictate minor layout modules or reusable elements.
 * - State: Describe the appearance of a module in various states.
 * - Theme: Purely visual optional styling (“look-and-feel”) for a component.
 *
 * For more information about this new Drupal css file standard, please review
 * the following:
 * - https://drupal.org/node/1887922
 * - http://smacss.com/
 */

// Base
//
// Init file contains required imports. Here's where we include normalize,
// foundation and also compass.
@import "base/init";
// Import our mixins early so they can be used by other partials.
@import "base/mixins";
//
// Common file is where you place common utility classes to extend or
// parametrics. Optional file.
@import "base/common";
//
// Fix for some Drupal CSS quirks (Drupalisms).
@import "base/drupal";
//
// Styling for elements.
@import "base/elements";
//

// Layout
//
// Each section of the document has it's own partial seperated out to improve
// developer experience. Additionally, grids can be declared in layouts as well.
@import "layout/header";
@import "layout/main";
@import "layout/aside";
@import "layout/triptych";
@import "layout/footer";

// Components
// @import "components/buttons";
// @import "components/type";
// @import "components/forms";
@import "components/foundation-icons";

// Themes
// @import "theme/button-light";

$footer-height: 220px;

// http://compass-style.org/examples/compass/css3/text_shadow/
$default-text-shadow-color: rgba($l-black, 0.6);
$default-text-shadow-blur: 3px;
$default-text-shadow-v-offset: 1px;

$border-radius: 3px;

// !!!

#sort-label,
#sort-popular {
  display: none !important;
}

// !!!
.prepend-top { margin-top: 1em; }
.append-bottom { margin-bottom: 1em; }
.prepend-left { margin-left: 1em; }
.append-right { margin-right: 1em; }

.badge {
  @include border-radius($border-radius);

  color: white;
  display: inline-block;
  font-size: 12px;
  letter-spacing: .1em;
  line-height: 1.2em;
  margin-right: 4px;
  text-transform: lowercase;
  padding: 2px 4px;
}

.badge-type {
  background: $l-grey;
}

.badge-hit {
  background: $l-red;
}

.badge-new {
  background: $l-green;
}

.badge-redaction {
  background: $l-blue;
}

.total-title {
  float: left;
  line-height: 2em;
  margin-right: 1em;
}

.total:before {
  content: "";
  background: url(../images/triangle_left.png) no-repeat;
  width: 4px;
  height: 8px;
  position: relative;
  left: -8px;
  display: inline-block;
}

.total {
  @include border-radius($border-radius);

  background: url(../images/total.png) 0 50% no-repeat #ebebeb;
  display: inline-block;
  font-weight: bold;
  padding: .6em 0;
  padding-right: .6em;
  padding-left: 4px;
  margin-left: .6em;
}

.top-bar-section li a:not(.button).active {
  color: $l-green;
}

.top-bar-section ul li > a {
  font-size: 75%;
  font-weight: 100;
  letter-spacing: .25em;
}

.top-bar .name h1 {
  font-size: 1em;
}

#login {
  li {
    line-height: $topbar-height;

    a {
      @include border-radius($border-radius);

      display: inline-block;
      letter-spacing: 1px;
      line-height: 1em;
      //margin: 0 26.6667px;
      padding-top: 8px;
      padding-bottom: 8px;
    }

    a.enter {
      background: $l-green;
    }

    a.enter:hover {
      background: darken($l-green, 10%);
    }

    a.user {
      background: lighten($l-darkgrey, 10%);
      padding-right: 0;
    }

    ul {
      margin-top: -20px;

      li {
        line-height: 1em;
        margin-bottom: 2px;

        a {
          color: $l-violet;
          background: white;
          border: 1px solid $l-lightgrey;
          text-shadow: none;
        }
      }
    }
  }
}

// по мотивам http://line25.com/tutorials/how-to-create-flat-style-breadcrumb-links-with-css
.breadcrumbs > *:before {
  content: "";
  margin: 0;
}

.breadcrumbs > .current a {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 220px;
}

ul.breadcrumbs {
  margin: 0;
  margin-bottom: 1em;
  padding: 0;

  background: none;
  border: none;

  li {
    a {
      display: block;
      float: left;
      //height: 2em;
      background: $l-violet;
      text-align: center;
      //padding: 30px 1.5em 0 1.5em;
      padding: 0 15px 0 20px;
      line-height: 2em;
      position: relative;
      margin: 0 .5em 0 0;

      font-size: 1em;
      text-decoration: none;
      color: #fff !important;
    }

    a:before {
      content: "";
      border-top: 1em solid transparent;
      border-bottom: 1em solid transparent;
      border-left: 1em solid white;
      position: absolute; left: 0; top: 0;
      z-index: 0;
    }

    a:after {
      content: "";
      border-top: 1em solid transparent;
      border-bottom: 1em solid transparent;
      border-left: 1em solid $l-violet;
      position: absolute; right: -1em; top: 0;
      z-index: 1;
    }
  }

  li:first-child {
    a {
      @include border-top-left-radius(5px);
      @include border-bottom-left-radius(5px);
    }

    a:before {
      display: none;
    }
  }

  li:last-child {
    a {
      @include border-top-right-radius(5px);
      @include border-bottom-right-radius(5px);

      padding-right: 40px;
    }

    a:after {
      display: none;
    }
  }
}

#comment-form {
  label {
    display: none;
  }

  textarea {
    height: 150px;
  }
}

#comments {
  font-size: .8em;

  .comment {
    .user-picture {
      position: absolute !important;
    }

    .submitted {
      color: $l-grey;
      font-size: .8em;

      .username {
        color: #5E619B;
        font-size: 1.222em;
        font-weight: bold;
      }
    }

    .submitted,
    .content {
      margin-left: 50px;
    }
  }

  .field-name-comment-body {
    font-size: 1.23em;
  }

  ul.links {
    li {
      list-style-type: none;
    }
  }

  .filter-wrapper {
    padding: 0;
  }

  form.comment-form {
    label {
      display: none;
    }
  }

}

body.front {
  text-align: center;
  font-size: 110%;

  header {
    @include single-text-shadow;

    background: $l-lightgrey;
    color: white;
    height: auto;
    position: relative;

    #bg-wrap {
      background: url(../images/top.jpg) no-repeat;
      background-size: cover;
      min-height: 600px;
      height: auto;
      max-width: 100%;
      vertical-align: middle;
    }

    h1#site-name,
    h2.site-slogan {
      color: white;
      text-transform: uppercase;
    }

    h1#site-name {
     font-size: 3.75em;
     line-height: 1;
     margin-top:200px;
     margin-bottom:0;

     span {
      background-color: rgba(0, 0, 0, 0.35);
      display: inline-block;
      letter-spacing: .2em;
      padding-left: .2em;
     }
    }

    h2.site-slogan {
      font-size: 1.155em;
      font-weight:100;
      margin-top: .2em;
      letter-spacing: .24em;
    }

    span#numbers {
      font-size: 1.4em;
      font-weight: 100;
      display: block;
      letter-spacing:.04em;
      margin-top: 3em;
    }

    h2 {
      font-size:  1.6875em;
    }
  }

  .main {
    background: white;
    color: $l-black;

    .panel-pane {
      margin: 0;

      .pane-content {

      }

      h2,
      h3 {
        color: $l-header-grey;
        letter-spacing: .1em;
        padding-top:2em;
      }

      h2 {
        font-size: 2.2em;
      }

      h3 {
        font-size: 1.3em;
        padding-bottom:1em;
      }

      h2:after {
        display: block;
        content:url(../images/underline.png);
        overflow: auto;
      //  overflow-x: hidden;
      }

      .button-violet {
        @include button;
        @include button-style($l-violet);
      }

      .button-green {
        @include button;
        @include button-style($l-green);
      }

      .button-red {
        @include button;
        @include button-style($l-red);

        position: relative;
        top: -2.5em;
      }

      .button-yellow {
        @include button;
        @include button-style($l-yellow);

        color: $l-darkgrey;
      }

      .button-lightgrey {
        @include button;
        @include button-style($l-lightgrey);

        color: grey;
      }

      .button-wrap {
        padding: 1em 0 2em 0;

        a {
          font-family: intro;
          font-weight: 100;
          letter-spacing: .05em;
          text-transform: uppercase;
        }
      }

      .row {
        padding: 2em 0;
      }

      #mooc {

      }

      #medialibrary {
        background: $l-lightgrey;
      }

      #mediagrants {
        background: $l-black;
        color: $l-lightgrey;

        h2 {
          color: $l-lightgrey;
        }
      }

      #studio {
        h3 {
          background: $l-lightgrey;
        }
      }
    }
  }

}

#main-menu {
//  @extend .right !optional;
}

body.not-front {
  main {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}

footer {
  background: $l-darkgrey;
  color: grey;
  text-align: left;
  padding-top: 1em;
  font-size: 80%;

  h2 {
    color: white;
    font-size: 100%;
  }

  p {
    line-height: 1;
  }

  a {
    color: #bdbdbd;
  }

  ul.menu {
    padding-top: 1em;

    li {
        list-style-type: none;
        padding:.5em;

        a {
          color: white;
        }
    }
  }
}


body.page-medialibrary,
body.page-mooc {
  .sidebar-first {
    padding-left: 25px;

    #edit-redaction-wrapper {
      @include border-radius($border-radius);
      position: relative;
      left: -25px;
      padding: 10px 0 20px 25px;
      width: 100%;
    }
  }

  .views-exposed-form label {
    font-weight: 500;
  }

  #views-exposed-form-views-search-page,
  #views-exposed-form-mooc-search-page {
    #edit-search-api-views-fulltext-wrapper,
    .views-submit-button {
      display: none;
    }
  }

  #views-exposed-form-views-search-page-1,
  #views-exposed-form-mooc-search-page-1 {
    #edit-recorded-from-wrapper,
    #edit-recorded-to-wrapper,
    #edit-type-wrapper,
    #edit-field-lang-wrapper,
    #edit-field-redaction-wrapper,
    .views-reset-button,
    /*.views-submit-button*/ {
      display: none;
    }
  }

  #edit-recorded-from-wrapper,
  #edit-recorded-to-wrapper {
    .form-item-recorded-from-date,
     .form-item-recorded-to-date{
      label,
      .description {
        display: none;
      }
    }
  }

  #edit-recorded-from-wrapper,
  #edit-recorded-to-wrapper {
    .views-widget {
      #edit-recorded-from-datepicker-popup-2,
      #edit-recorded-to-datepicker-popup-2 {
        background: url(../images/calendar_icn.png) 95% 50% no-repeat $l-lightgrey;
        width: 120px;
        padding: 2px 0 2px 10px;
      }
    }
  }

  #edit-recorded-from-wrapper:before {
    color: #4d4d4d;
    content: "Дата записи";
    padding-bottom: .5em;

    display: block;
    font-family: intro;
    font-size: 110%;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  #edit-recorded-from-wrapper,
  #edit-recorded-to-wrapper {
    display: table-row;

    label,
    div.views-widget {
      display: table-cell;

    }

    label {
      width: 25px;
      padding-top:10px;
      vertical-align: top;
    }
  }

  #edit-redaction-wrapper {
    background: $l-green;
    margin: 2em 0;

    label {
      color: white !important;
    }
  }

  #edit-type-wrapper,
  #edit-university-t-wrapper,
  #edit-subject-t-wrapper,
  #edit-lang-wrapper,
  #edit-redaction-wrapper,
  #edit-audition-wrapper,
  #edit-status-mooc-wrapper {
    padding-bottom: .5em;

    label {
      font-family: intro;
      font-size: 110%;
      margin-bottom: 10px;
    }

    .views-widget {
      .form-item {
        display: table-row;
        margin-bottom: 16px;

        input,
        label {
          color: $l-grey;
          display: table-cell;
          margin: .6em .2em 0 0;
        }

        input.bef-select-as-radios {
          margin: .4em .6em .4em 0;
        }

        label {
          font-size: .875em;
          font-family: $global-font-family;
          padding-left:.6em;
        }

        :checked + label {
          color: darken($l-grey, 10%);
        }

        input[type="checkbox"] {
          display:none;
        }

        input[type="checkbox"] + label {
            display:inline-block;
           // width:19px;
           // height:19px;
           // margin:-1px 4px 0 0;
            padding-left: 25px;
            vertical-align:middle;
            background:url(../images/unchecked.png) left top no-repeat;
            cursor:pointer;
        }

        input[type="checkbox"]:checked + label {
            background:url(../images/checked.png) left top no-repeat;
            padding-left: 25px;
        }
      }
    }

    a.toggler {
      border: 1px dashed $l-grey;
      @include border-radius($border-radius);
      color: $l-grey;
      display: block;
      font-size: .875em;
      letter-spacing: .05em;
      margin-top:16px;
      margin-bottom: 16px;
      padding: .5em 0;
      text-align: center;
      width: 100%;
    }
  }

  #edit-lang-wrapper {
    display: none;
 /*   label {
      width: 100px;
    }

    .form-item-edit-lang-5 {
      label{
        background: url("../images/gb.png") 100% 100% no-repeat;
      }
    }

    .form-item-edit-lang-4 {
      label{
        background: url("../images/ru.png") 100% 100% no-repeat;
      }
    }*/
  }

  #views-exposed-form-views-search-page,
  #views-exposed-form-mooc-search-page {
    padding-top: .5em;

    .views-reset-button {
      //padding: 0;

      button {
        background:none;
        border: none;
        border-bottom: 1px $l-green dashed;
        color: $l-green;
        font-size: .875em;
        letter-spacing: .1em;
        margin: 0;
        padding: 0;
      }

      button:hover {
        border-bottom: 1px $l-black dashed;
        color: $l-black;
      }
    }
  }

  #views-exposed-form-views-search-page-1,
  #views-exposed-form-mooc-search-page-1 {
    margin-bottom: 0;

    .views-exposed-widgets {
      margin-bottom: 0;
    }

    #edit-search-api-views-fulltext-wrapper {
      padding-right: 0;
      width: 80%;
    }

    .views-submit-button {
      padding-right: 0;
      width: 20%;

      button#edit-submit-views-search,
      button#edit-submit-mooc-search {
        @include border-top-right-radius(5px);
        @include border-bottom-right-radius(5px);

        background: $l-violet !important;
        height: 32px;
        letter-spacing: .1em;
        box-shadow: none;
        border: none;
        padding:.5em 0;
        font-weight: 100;
        font-size: .875em;
        font-family: $ff-arial;
        width: 100%;
      }
    }

    .views-submit-button,
    .views-reset-button {
      #edit-submit-views-search,
      #edit-submit-mooc-search,
      #edit-reset {
        margin-top: 0;
      }
    }
  }

  // поисковая выдача
  .view-views-search,
  .view-mooc-search {
    .view-header {
      padding-bottom: 2em;
      font-size: 85%;
      color: grey;


      #total-label {
        display: inline-block;
      }

      #sort-label,
      #sort-popular {
        display: inline-block;
      }

      #sort-popular {
        color: $l-green;
        border-bottom: 1px dashed $l-green;
      }

      #view-display-label {
        margin-left: 1em;
      }

      #list,
      #thumb {
        display: inline-block;
        width: 26px;
        height: 26px;
        position: relative;
        top: 8px;
      }

      #list.inactive {
        background: url(../images/text_list.png) no-repeat;
      }

      #list.active {
        background: url(../images/text_list_active.png) no-repeat;
      }


      #thumb.active {
        background: url(../images/thumb_list.png) no-repeat;
      }

      #thumb.inactive {
       background: url(../images/thumb_list_inactive.png) no-repeat;
      }

    }

    .view-content {
      padding: 0 15px;
    }

    .views-row {
      background: $l-lightyellow;
      margin-bottom: 1em;
      border: 1px solid lighten($l-grey, 35%);

      .badges {
        position: relative;

        top: -5px;
        z-index: 1;

        .hit-new {
          text-align: right;

          span {
            margin-left: 1em;
          }
        }

        .views-likes-comments {
          //color: lighten($l-grey, 15%);
          color: $l-grey;
          font-size: 1em;

          .badge {
            color: $l-grey;
            background: #fff;
            border: 1px solid lighten($l-grey, 25%);
          }
        }
      }

      .result-item {
        padding: 1em;

        .title.small-6 {
          h2 {
            font-size: 13px;
            font-weight: 100;
          }
        }

        h2,
        .speaker,
        .university {
          font-family: $ff-arial;
          a {
            color: $l-violet;
          }
        }

        h2 {
          font-size: 1em;
          font-weight: bold;
          line-height: 1;
          margin-top: 0;
          margin-bottom:.2em;
        }

        .dates,
        .body-desc {
          color: $l-grey;
          font-size: 90%;
          line-height: 1em;
          margin-bottom: .4em;
          padding-top: .4em;
          overflow: hidden;
        }

        .dates,
        .speaker,
        .university {
          font-size: 13px;
        }

        .speaker {
          padding-left: 14px;
        }

      }
    }
  }
}

body.page-user {
  h2 {
    font-size: 1.15em;
  }

  .view-mooc {
    .views-row {
      background: $l-lightyellow;
      padding: 1em;
      margin-bottom: 10px;

      .small-9 {
        padding-left:1em;
        color: $l-grey;
        font-size: 90%;
      }
    }
  }
}

a.flag-link-toggle {
  @include border-radius($border-radius);

  color: white;
  font-size: 80%;
  padding: .5em 1em;
}

a.unflag-action {
  background: $l-red;
}

a.flag-action {
  background: $l-green;
}

body.node-type-course,
body.node-type-conference,
body.node-type-lecture,
body.node-type-speaker,
body.node-type-mooc-description,
body.university {
   main {
    color: $l-text-grey;
    padding-top: 3em;

    h1,
    h2,
    h3 {
      color: $l-text-grey;
    }

    h1 {
      line-height: 1;
    }

    #page-title {
      @extend .append-bottom !optional;

      h1 {
          @extend .append-right !optional;

          display: inline;
      }
    }

    #social {
      margin-bottom: 1em;
    }

    #body {

    }

    .view {
      .badge {
        letter-spacing: .15em;
      }

      .total {
        margin-top: .4em;
      }
    }
  }
}

body.node-type-speaker {
  .field-name-body {
    display: table-cell;
  }
}

body.node-type-speaker,
body.node-type-lecture,
body.university {
  main {
    .field-name-field-speaker-photo,
    .field-name-field-picture {
      @extend .left !optional;
      padding-right:1em;
    }

    .view-courses-context,
    .view-university-lectures,
    .view-other-lectures {
      clear: both;

      .course {
        ul {
          list-style-type: none;

          li {
            a {
              line-height: 1;
            }
          }
        }
      }
    }
    .field-name-field-view-courses,
    .field-name-field-view-lectures {
      .badges {
        .social {
          span {
            color: $l-grey;
            margin-right: 1em;
          }
        }
      }
    }
  }
}

body.node-type-lecture,
body.node-type-course,
body.node-type-conference,
body.node-type-mooc-description,
body.university {
  #meta-desc-fields {
    margin-bottom: 1em;
  }
  .row {
    margin-bottom: .1em;
  }

  .label,
  .field {
    font-size: 100%;
    padding:0;
    margin:0;
  }

  .label {
    background: none;
    color: $l-text-grey;
    display: table-cell;
    font-weight: normal;
    min-width: 120px;
    text-align: left;
    margin-bottom:1em;
  }

  .label-date {
    width: 160px;
  }

  .field-name-field-university-t,
  .field-name-field-subject-t,
  .field-name-field-view-courses,
  .field-name-field-view-conf,
  .field-name-field-speaker,
  .field-name-field-university-t-mooc,
  .field-name-field-subject-t-mooc,
  .field-name-field-language-mooc,
  .field-name-field-audition-mooc,
  .field-name-field-status-mooc,
  .field-name-field-date-recorded {
    display: table-cell;

    ul {
      list-style-type: none;
      line-height: 1;
      padding: 0;
      margin: 0;
    }
  }

  .label-date + span {
    display: table-cell;
  }

  .badges {
    .social {
      color: $l-grey;

      span {
        padding: 2px 4px;
      }
    }
  }

  .social {
    color: $l-text-grey;

    span {
      padding: 0px 4px;
    }
  }

  #code-for-blog {
    margin-top: 1em;
  }

  .social {
    .social-link-wrap {
      @include border-radius($border-radius);

      padding: .5em;
      background: $l-lightgrey;
      border: 1px solid $l-grey;

      i {
        margin-right: .5em;
        padding-right: .5em;
        border-right: 1px solid $l-grey;
      }
    }
  }

  .view-course-lectures,
  .view-university-lectures,
  .view-conference-lectures,
  .view-other-lectures {
    margin-top: 2em;

    .row {
      margin-bottom: 0;
    }
  }
}

body.node-type-lecture {
  .social {
    .hitcount,
    .field-name-field-likebtn {
      display: inline-block;
    }

    .hitcount {
      @include border-radius(2px);

      color: #787869;
      display: inline-block;
      //outline: medium none;
      //overflow: visible;
      position: relative;
      text-decoration: none;
      top: 2px;
      background-color: #FAFAFA;
      border: 1px solid #C6C6C6;
      color: #555;
      padding: 9px;
      padding-bottom: 10px;

      .fi-eye,
      .totalcount {

     }
    }
  }
}

/*
Sticky Footer Solution
by Steve Hatcher
http://stever.ca
http://www.cssstickyfooter.com
*/

* {margin:0;padding:0;}

/* must declare 0 margins on everything, also for main layout components use padding, not
vertical margins (top and bottom) to add spacing, else those margins get added to total height
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */

html, body {height: 100%;}

.page {min-height: 100%;}

.wrapper-main {overflow:auto;
  padding-bottom: $footer-height;}  /* must be same height as the footer */

footer {position: relative;
  margin-top: -$footer-height; /* negative value of footer height */
  height: $footer-height;
  clear:both;}

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

/* IMPORTANT

You also need to include this conditional style in the <head> of your HTML file to feed this style to IE 6 and lower and 8 and higher.

<!--[if !IE 7]>
  <style type="text/css">
    #wrap {display:table;height:100%}
  </style>
<![endif]-->

*/
