/* @file
 * This file is a custom file that loads all files. Each non-base layer
 * can be disabled.
 *
 * Do not name this file, "app.scss". If you run a compass update this file can
 * be wiped out with a compass update. By default, when a compass project is
 * created the file will be named app.scss. Thus this file is named,
 * THEMENAME.scss.
 *
 * This application file (THEMENAME.scss) is where all the partials are
 * imported.
 *
 * Theme styles are categorized using SMACSS standards. They utilize
 * categorization of styles into various categories. Those categories are the
 * following:
 *
 * - Base: CSS reset/normalize plus HTML element styling.
 * - Layout: Macro arrangement of a web page, including any grid systems.
 * - Component: Dictate minor layout modules or reusable elements.
 * - State: Describe the appearance of a module in various states.
 * - Theme: Purely visual optional styling (“look-and-feel”) for a component.
 *
 * For more information about this new Drupal css file standard, please review
 * the following:
 * - https://drupal.org/node/1887922
 * - http://smacss.com/
 */

// Base
//
// Init file contains required imports. Here's where we include normalize,
// foundation and also compass.
@import "base/init";
// Import our mixins early so they can be used by other partials.
@import "base/mixins";
//
// Common file is where you place common utility classes to extend or
// parametrics. Optional file.
@import "base/common";
//
// Fix for some Drupal CSS quirks (Drupalisms).
@import "base/drupal";
//
// Styling for elements.
@import "base/elements";
//

// Layout
//
// Each section of the document has it's own partial seperated out to improve
// developer experience. Additionally, grids can be declared in layouts as well.
@import "layout/header";
@import "layout/main";
@import "layout/aside";
@import "layout/triptych";
@import "layout/footer";

// Components
// @import "components/buttons";
// @import "components/type";
// @import "components/forms";
@import "components/foundation-icons";

// Themes
// @import "theme/button-light";

$l-blue: #009AE3;


.top-bar-section li a:not(.button).active {
    background: url("../images/triangle.png") no-repeat 50% 100% $l-blue;
}

.top-bar-section ul li > a {
  font-size: 110%;
  font-weight: normal;
}

.top-bar .name h1 {
  font-size: 1.3em;
}

body.front {
  text-align: center;
  font-size: 110%;

  header {
    background: $l-blue;
    color: white;
    min-height: 550px;

    h1#site-name,
    h2.site-slogan {
      color: white;
      padding-top: 100px;
    }

    h1#site-name {
     font-size: 3.75em;
    }

    h2 {
      font-size:  1.6875em;
    }
  }

  .main {
    background: white;

    .panel-pane {
      min-height: 550px;
      margin-top: 1em;
      margin-bottom: 1em;

      h2 {
        margin-top: 1em;
        padding-top: 1em;
      }

      h2.pane-title {

      }

      h2.pane-title:after {
        display: block;
        content:url(../images/row.png);
        overflow: auto;
        overflow-x: hidden;
      }
    }

    .pane-views-medialibrary-front-block {
      background: #EAEAEA;

      .lecture-description {
        display: block;
        padding: 1em;
        background: $l-blue;
        margin-top: .1em;
        margin-bottom: 2em;
        text-align: left;

        a {
          color: white;
          min-height: 2em;
        }
      }
    }

    .pane-content {
      @extend .row !optional;
    }
  }
  .view-medialibrary-front {
    .views-content{
      @extend .row !optional;
    }
  }

  .view-courses {
    .description {
      text-align: left;
      padding-left:1em;
    }
  }

  .view-footer {
    margin-top: 1em;
  }
}

body.section-media {
  .lecture {
    padding-bottom:1em;
  }
}

#main-menu {
  @extend .right !optional;
}

footer {
  background: #16171A;
  color: grey;
  text-align: left;
  padding-top: 1em;
  font-size: 80%;

  h2 {
    color: white;
    font-size: 100%;
  }

  p {
    line-height: 1;
  }

  a {
    color: #bdbdbd;
  }

  ul.menu {
//      @extend .right !optional;
    padding-top: 1em;

    li {
        list-style-type: none;
        padding:.5em;

        a {
          color: white;
        }
    }
  }
}


body.page-medialibrary {
  .large-3 {
    width: 20%;
    padding-left:0;
  }
  .large-9 {
    width: 80%;
    padding-right: 0;
  }

  .views-exposed-form label {
    font-weight: 500;
  }

  #views-exposed-form-views-search-page {
    #edit-search-api-views-fulltext-wrapper,
    .views-submit-button {
      display: none;
    }
  }

  #views-exposed-form-views-search-page-1 {
    #edit-recorded-from-wrapper,
    #edit-recorded-to-wrapper,
    #edit-type-wrapper,
    #edit-field-lang-wrapper,
    #edit-field-redaction-wrapper,
    /*.views-reset-button,
    .views-submit-button*/ {
      display: none;
    }
  }

  #edit-recorded-from-wrapper,
  #edit-recorded-to-wrapper {
    .form-item-recorded-from-date,
     .form-item-recorded-to-date{
      label,
      .description {
        display: none;
      }
    }
  }

  #edit-recorded-from-wrapper,
  #edit-recorded-to-wrapper {
    .views-widget {
      #edit-recorded-from-datepicker-popup-2,
      #edit-recorded-to-datepicker-popup-2 {
        background: #E9E9E9;
        height: 20px;
        width: 80px;
        padding: 0;
      }
    }
  }

  #edit-type-wrapper,
  #edit-university-t-wrapper,
  #edit-subject-t-wrapper,
  #edit-lang-wrapper,
  #edit-redaction-wrapper {
    padding-bottom: .5em;

    label {
      font-size: 110%;
      margin-left: 20px;
      margin-bottom: 10px;
    }

    .views-widget {
      .form-item {
        display: table-row;
        margin-bottom: 16px;

        input,
        label {
          display: table-cell;
          margin: .6em .2em 0 0;
        }

        input.bef-select-as-radios {
          margin: .4em .6em .4em 0;
        }

        label {
          font-size: .875em;
        }

        :checked + label {
          color: $l-blue;
        }
      }
    }

    a.toggler {
      @extend .button !optional;
      @extend .secondary !optional;
      @extend .tiny !optional;

      margin-top:16px;
      margin-left:16px;
    }
  }

  #edit-lang-wrapper {
    label {
      width: 100px;
    }

    .form-item-edit-lang-5 {
      label{
        background: url("../images/gb.png") 100% 100% no-repeat;
      }
    }

    .form-item-edit-lang-4 {
      label{
        background: url("../images/ru.png") 100% 100% no-repeat;
      }
    }
  }

  #views-exposed-form-views-search-page {
    padding-top: 60px;

    .views-reset-button {
      display: none;
    }
  }

  #views-exposed-form-views-search-page-1 {
    margin-left: -15px !important;

    .views-submit-button,
    .views-reset-button {
      #edit-submit-views-search,
      #edit-reset {
        @extend .tiny !optional;

        margin-top: 0;
      }
    }
  }

  // поисковая выдача
  .view-views-search {
    .view-header {
      margin-left: -15px;
      padding-bottom: 1em;
      font-size: 85%;
      color: grey;
    }

    .views-row {
      min-height:104px;

      .views-field-php {
        position: relative;
        margin-left: -15px;
        top: 10px;
        height: 0;
        width: 80px;
        z-index: 1;

        .badge {
          color: white;
          display: inline-block;
          padding: 0 8px;
          margin-bottom: 4px;
        }

        .its-a-hit {
          background: orange;
        }

        .new {
          background: pink;
        }

        .serp-course {
          background: $l-blue;
        }

      }

      .views-field-nothing {
        margin-bottom: .5em;

        h2 {
          font-size: 1.14em;
          font-weight: normal;
          line-height: 1;
          margin-top: 0;
          margin-bottom:.2em;
        }

        #body-desc {
          font-size: 90%;
          line-height: 1em;
          margin-bottom: .4em;
          padding-top: .4em;
          overflow: hidden;
        }

        .columns {
          padding: 0 !important;
        }

      }
    }
  }
}


body.section-university {
  .view-university-lectures {
    .views-row {
      font-size: 90%;
      font-weight: normal;
      display: inline-block;
      vertical-align: top;
      max-width: 180px;
      margin:0 .4em .8em 0;
      padding-bottom:.8em;

      .views-field-title,
      .views-field-field-subject {
        padding: .8em .8em 0 .8em;

        display: inline-block;
        overflow: hidden;
        height: 40px;
      }
    }
  }
}

body.node-type-speaker,
body.node-type-course,
body.node-type-lecture {
  main {
    padding-top: 1em;

    .field-name-field-university-t,
    .field-name-field-subject-t ,
    .field-name-field-view-courses{
      h2.field-label {
        font-size: 1em;
        line-height: 1;
        margin: 0;
      }

      ul {
        line-height: 1;
        margin-bottom: 0;

        li {
          list-style-type: none;
          padding-left:.2em;
          margin-left: 0;
          display: inline-block;
          a {
            
          }
        }
      }
    }
  }

  h1 {
    margin-top:0;
    line-height: 1;
  }

  .field {
    padding-bottom:1em;
  }

  .field-name-field-speaker-photo,
  .field-name-field-picture {
    @extend .left !optional;
    padding-right:1em;
  }

  .field-name-field-speaker {
    clear: both;
  }

  .field-name-field-lectures a {
    color: $body-font-color;
    margin-right: 1em;
    margin-bottom: 1em;
  }

  .field-name-field-view-courses,
  .field-name-field-view-lectures,
  .field-name-field-lectures {
    clear: both;

    .lecture {
      a {
        margin:0;
        padding:0;
      }
    }

    .views-row {
      font-size: 90%;
      font-weight: normal;
      //float: left;
      display: inline-block;
      vertical-align: top;
      max-width: 180px;
      margin:0 .4em .8em 0;
      padding-bottom:.8em;

      .views-field-title,
      .views-field-field-subject {
        padding: .8em .8em 0 .8em;

        display: inline-block;
        overflow: hidden;
        height: 40px;
      }

      .views-field-field-university {
        a {
          padding: .8em .8em 0 .8em;
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}

/*
Sticky Footer Solution
by Steve Hatcher
http://stever.ca
http://www.cssstickyfooter.com
*/

* {margin:0;padding:0;}

/* must declare 0 margins on everything, also for main layout components use padding, not
vertical margins (top and bottom) to add spacing, else those margins get added to total height
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */

html, body {height: 100%;}

.page {min-height: 100%;}

.wrapper-main {overflow:auto;
  padding-bottom: 180px;}  /* must be same height as the footer */

footer {position: relative;
  margin-top: -180px; /* negative value of footer height */
  height: 180px;
  clear:both;}

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}



/* IMPORTANT

You also need to include this conditional style in the <head> of your HTML file to feed this style to IE 6 and lower and 8 and higher.

<!--[if !IE 7]>
  <style type="text/css">
    #wrap {display:table;height:100%}
  </style>
<![endif]-->

*/
